<body id="bkgrd">
	
<h1>Welcome to Ship App</h1>
<h1><%= link_to "Sign Up Now!", new_user_path %></h1>
<h3 class="text-center">OR</h3>
<h1 class="text-center text-uppercase"><%=link_to "log in", new_session_path %> 

</body>


